#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
html {
  min-height: 100vh;
  background-color: #f4f4f8;
}
  
* {
  -webkit-transition: all .3s;
  transition: all .3s;
}